[submodule "lib/minisat-sys/vendor/minisat"]
	path = lib/minisat-sys/vendor/minisat
	url = https://github.com/Lipen/minisat
[submodule "lib/cadical-sys/vendor/cadical"]
	path = lib/cadical-sys/vendor/cadical
	url = https://github.com/Lipen/cadical
[submodule "lib/kissat-sys/vendor/kissat"]
	path = lib/kissat-sys/vendor/kissat
	url = https://github.com/Lipen/kissat
