[submodule "lib/minisat-sys/vendor/minisat"]
	path = lib/minisat-sys/vendor/minisat
	url = https://github.com/msoos/minisat
[submodule "lib/minisat-sys/vendor/minisat-c-bindings"]
	path = lib/minisat-sys/vendor/minisat-c-bindings
	url = https://github.com/niklasso/minisat-c-bindings
[submodule "lib/cadical-sys/vendor/cadical"]
	path = lib/cadical-sys/vendor/cadical
	url = https://github.com/Lipen/cadical
[submodule "lib/minisat-sys/vendor/zlib"]
	path = lib/minisat-sys/vendor/zlib
	url = https://github.com/madler/zlib
[submodule "lib/kissat-sys/vendor/kissat"]
	path = lib/kissat-sys/vendor/kissat
	url = https://github.com/arminbiere/kissat
